<h1><%= link_to pluralize(@articles.size, 'Article'), root_path %></h1>

<% if user_signed_in? %>
  <%= link_to "Add New Article", new_article_path %> |
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %> |
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>
<hr />
<% @articles.order(created_at: :desc).each do |article| %>
  <article>
    <header>
      <strong><%= link_to(article.title, article) %></strong>
    </header>
    <p>
      <%= truncate(article.content, length: 30, separator: ' ') %>
    </p>
    <table>
      <tr>
        <th>Written:</th>
        <td><%= article.created_at.strftime("%m/%d/%Y") %>
        by <%= article.user.name %></td>
      </tr>
      <tr>
        <th>Tags:</th>
        <td>
          <% article.list_all_unique_tags.each do |x| %>
            <%= link_to x, root_path(tag: x) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Subtags:</th>
        <td>
          <% article.list_all_unique_subtags.each do |x| %>
            <%= link_to x, root_path(subtag: x) %>
          <% end %>
        </td>
      </tr>
    </table>
  </article><br />
<% end %>
